#about
  .flex-container 
    display: flex
    align-items: center
    justify-content: space-around
    flex-wrap wrap
    &.spb
      justify-content: space-between
    &.center
      justify-content: center
    &.left
      justify-content: left 
    
  .relative
    position relative
    .abs 
      position absolute
  .header-container
    width: 750px
    height: 441px
    background-image: url(../../assets/images/about/banner_bg.png)
    background-color #003c79
    background-size: cover
    .abs-1
      font-size: 55px;
      color: #ffffff;
      top 180px
      left 200px
    .abs-2
      font-size: 61px;
      color: #ffffff;
      top 255px
      left 200px
    .abs-3
      font-size: 23px;
      color: #ffffff;
      top 333px
      left 391px
    .abs-4
      width: 184px;
      height: 253px;
      top 138px
      left 366px
      .border-1
        width 6px
        height 42px
        left 0
        top 0
        position absolute
        background: #ffffff
      .border-2
        width 100%
        height 6px
        left 0
        top 0
        position absolute
        background: #ffffff
      .border-3
        width 6px
        height 100%
        right 0
        top 0
        position absolute
        background: #ffffff
      .border-4
        width 100%
        height 6px
        left 0
        bottom 0
        position absolute
        background: #ffffff
      .border-5
        width 6px
        height 62px
        left 0
        bottom 0
        position absolute
        background: #ffffff
  .gray
    color: #818284;
  .light
    color: #f2f4f5;
  .blue-line
    width: 30px;
    height: 3px;
    background-color: #409fff;
  .big108
    position relative
    display inline-block
    font-family Arial
    font-weight 700
    font-size 108px
    color #0c0c0d
  .plus
    position absolute
    height 0
    right -20px
    top 10px
    font-size 36px

  .big60
    font-size: 60px;
    font-weight: 700
	  color: #0c0c0d;
  .big36
    font-size: 36px;
    font-weight: 700
  .big28
    height: 28px;
    font-size: 28px;
    font-weight: 700
    color: #303133;
  .smnall24
    font-size: 24px;
    color: #606366;
  
  .paddingTB120
    padding-top 120px
    padding-bottom 120px
  .paddingTB100
    padding-top 100px
    padding-bottom 100px
  .paddingTB50
    padding-top 50px
    padding-bottom 50px
  
  .paddingLR30
    padding-left 30px
    padding-right 30px
  .marginTB30
    margin-top 30px
    margin-bottom 30px
  .marginB26
    margin-bottom 26px
  .marginB30
    margin-bottom 30px
  .marginB40
    margin-bottom 40px
  .marginB48
    margin-bottom 48px
  

  .box-shadow
    background-color: #ffffff;
    box-shadow: 0px 8px 28px 2px rgba(2, 14, 39, 0.15);
